{% extends 'base.html' %}
{% load static %}
{% block about_active %} active {% endblock %}
{% block content %}
<main class="main">

  <!-- Page Title -->
  <div class="page-title" data-aos="fade"
    style="background-image: url({% static 'assets/img/about-page-title-bg.jpg' %});">
    <div class="container">
      <h1>About</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'clientside:homepage' %}">Home</a></li>
          <li class="current">About</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-5">
          <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Our Goal and Story</h3>
            <p>
              Swift Courier is a leading logistics company dedicated to providing efficient and reliable shipping and
              transportation
              solutions. With years of industry experience, we have built a reputation for excellence, customer
              satisfaction, and a
              commitment to meeting the diverse needs of our clients.
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> <span>Transparency and open communication</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>We are committed to delivering exceptional
                  service</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Experience reliability and efficiency</span></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Why Us Section -->
  <section id="why-us" class="why-us section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Why Choose Us</h2>

    </div><!-- End Section Title -->

    <div class="container">

      <div class="row g-0">

        <div class="col-xl-5 img-bg" data-aos="fade-up" data-aos-delay="100">
          <img src="{% static 'assets/img/why-us-bg.jpg' %}" alt="">
        </div>

        <div class="col-xl-7 slides position-relative" data-aos="fade-up" data-aos-delay="200">

          <div class="swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "centeredSlides": true,
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "navigation": {
                    "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"
                  }
                }
              </script>
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Let's grow your business together</h3>
                  <h4 class="mb-3">Experience reliability and efficiency
                  </h4>
                  <p>Contact us today to discuss how we can support your logistics requirements and contribute to the
                    success of your
                    business.</p>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">We are committed to delivering exceptional service</h3>
                  <h4 class="mb-3">Transparency and open communication</h4>
                  <p>Are fundamental values for us. We believe in building strong and collaborative relationships with
                    our
                    clients, based on trust, integrity, and mutual success. </p>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Our Network</h3>
                  <h4 class="mb-3">Extensive global network
                  </h4>
                  <p>Our extensive global network of partners and carriers enables us to offer comprehensive coverage
                    and reach in numerous
                    countries and regions worldwide.</p>
                </div>
              </div><!-- End slide item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>

    </div>

  </section><!-- /Why Us Section -->

  <!-- Call To Action Section -->
  <section id="call-to-action" class="call-to-action section">

    <img src="{% static 'assets/img/cta-bg.jpg' %}" alt="">

    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="text-center">
            <h3>Track Your Package</h3>
            <p>Dedicated to providing efficient and reliable shipping and transportation solutions.we have built a
              reputation for excellence, customer satisfaction, and a commitment to meeting the diverse needs of our
              clients.</p>
            <a class="cta-btn" href="{% url 'clientside:track' %}">Track Your Package</a>
          </div>
        </div>
      </div>
    </div>

  </section><!-- /Call To Action Section -->

</main>
{% endblock %}